[user]
	name = nyanpasu
	email = nekomune@comfy.moe
[includeIf "gitdir:~/code/work/surialabs/"]
	path = .gitconfig-surialabs

[credential]
	helper = cache --timeout=3600
[push]
	default = current
[pull]
	rebase = false
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	last = log -1 HEAD
	sp = stash pop
[core]
	autocrlf = input
	; pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 227
	frag = magenta bold
	commit = 227 bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	markEmptyLines = false
	useUnicodeRuler = false
[safe]
	directory = /root/bin/flutter
